<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cube | Realtime Video Sharing</title>
  <link rel="shortcut icon" href="/images/logo.svg" type="image/x-icon">
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <script>
    // SAVE ROOM ID
    const ROOM_ID = "<%= roomId %>"
  </script>
</head>

<body>
  
  <div class="main">
    <div class="main__left">
      <div class="main__video">
        <div id="video__grid"></div>
      </div>
      <div class="main__control">
        <div class="main__control__block">
          <div class="main__control__button" id="main__control__audio" onclick="muteUnmute()">
            <i class="fas fa-microphone-alt"></i>
            <span class="main__control__button__text">Mute</span>
          </div>
          <div class="main__control__button" id="main__control__video" onclick="streamUnstream()">
            <i class="fas fa-video"></i>
            <span class="main__control__button__text">Unstream</span>
          </div>
        </div>

        <div class="main__control__block">
          <div class="main__control__button">
            <i class="fas fa-shield-alt"></i>
            <span class="main__control__button__text">Security</span>
          </div>
          <div class="main__control__button">
            <i class="fas fa-users"></i>
            <span class="main__control__button__text">Participants</span>
          </div>
          <div class="main__control__button" id="main__control__chat">
            <i class="fas fa-comment-alt"></i>
            <span class="main__control__button__text">Chat</span>
          </div>
        </div>

        <div class="main__control__block">
          <div class="main__control__button__leaving">
            <span class="main__control__button__text__leaving">Leave Meeting</span>
          </div>
        </div>
      </div>
    </div>
    <div class="main__right__hidden">
      <div class="main__header">
        <div class="main__header__close">
          <i class="fas fa-times" id="close"></i>
        </div>
        <div class="main__header__title">
          <h3>Messaging</h3>
        </div>
      </div>
      <div class="main__chat">
        <ul class="chat__column">
          <!-- CHAT WILL INJECTED HERE -->
        </ul>
      </div>
      <div class="main__chat__input">
        <input type="text" name="chat" id="chat__input" placeholder="Type a message..." autocomplete="off" aria-autocomplete="none">
      </div>
    </div>
  </div>



  <!-- The actual snackbar -->
  <div id="snackbar"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="js/script.js"></script>
</body>

</html>