@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    transition: 0.1s ease-in;
}

body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f1b24;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.active {
    color: slategray;
}

#video-grid {
    display: flex;
    justify-content: center;
}

video {
    width: 400px;
    height: 300px;
    padding: 8px;
    object-fit: cover;
}

.main {
    display: flex;
    height: 100vh;
}

.main__left {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.main__video {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.main__control {
    background-color: #1f1b24;
    height: 50px;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 8px;
}

.main__control__block {
    display: flex;
    padding-top: 4px;
}

.main__control__button {
    display: flex;
    color: gray;
    padding: 4px 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.main__control__button__text {
    margin-top: 4px;
    font-size: 12px;
    letter-spacing: 2px;
}

.main__control__button:hover {
    background-color: #343434;
}

.main__control__button__leaving {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.main__control__button__text__leaving {
    color: red;
    padding: 2px 4px;
    border: 1px solid red;
    border-radius: 5px;
}

.main__control__button__text__leaving:hover {
    color: red;
    font-weight: bold;
    padding: 2px 4px;
    border: 2px solid red;
    border-radius: 5px;
}

.main__right {
    flex: 0.3;
    background-color: #1f1b24;
    color: white;
    display: flex;
    flex-direction: column;
}

.main__right__hidden {
    display: none;
}

.main__header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main__header__close {
    color: gray;
    cursor: pointer;
    flex: 0.2;
}

.main__header__close:hover {
    color: #fff;
    cursor: pointer;
    flex: 0.2;
}

.main__header__title {
    flex: 0.6;
}

.main__chat {
    flex-grow: 1;
    overflow: auto;
}

.main__chat__input {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid slategray;
}

#chat__input {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 14px;
}

#chat__input:focus {
    outline: none;
}

.chat__user {
    font-size: small;
    color: slategray;
}

.chat__text {
    margin-top: -4px;
    font-size: smaller;
}

.chat__container {
    display: flex;
    flex-direction: column;
    padding: 2px 18px;
    list-style: none;
}

/* ? The snackbar - position it at the bottom and in the middle of the screen ? */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}